[submodule "ragen"]
	path = thirdparty/ragen
	url = git@github.com:ZihanWang314/RAGEN.git
	branch = main-new
[submodule "verl"]
	path = thirdparty/verl
	url = git@github.com:XiaofengLin7/verl.git
[submodule "thirdparty/alfworld"]
	path = thirdparty/alfworld
	url = git@github.com:alfworld/alfworld.git
