[submodule "ragen"]
	path = thirdparty/ragen
	url = git@github.com:ZihanWang314/RAGEN.git
	branch = main-new
[submodule "verl"]
	path = thirdparty/verl
	url = git@github.com:XiaofengLin7/verl.git
[submodule "thirdparty/alfworld"]
	path = thirdparty/alfworld
	url = git@github.com:XiaofengLin7/alfworld_vlm.git
	branch = bugs/expert_tw
[submodule "thirdparty/trl"]
	path = thirdparty/trl
	url = https://github.com/huggingface/trl.git
[submodule "thirdparty/MATH-Perturb"]
	path = thirdparty/MATH-Perturb
	url = https://github.com/Kaffaljidhmah2/MATH-Perturb
